<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    {% include 'partials/_head.jinja' %}
</head>

<body>
    <div class="app-container">
        {# Header #}
        {% include 'partials/_header.jinja' %}

        {# Main Content #}
        <main class="app-main">
            <div class="chat-container">
                {# Sidebar #}
                {% include 'partials/_sidebar.jinja' %}

                {# Chat Area #}
                {% include 'partials/_chat_area.jinja' %}
            </div>
        </main>

        {# Modals #}
        {% include 'partials/modals/_tools.jinja' %}
        {% include 'partials/modals/_rename.jinja' %}
        {% include 'partials/modals/_delete.jinja' %}
        {% include 'partials/modals/_health.jinja' %}
        {% include 'partials/modals/_tool_details.jinja' %}
        {% include 'partials/modals/_conversation_info.jinja' %}
        {% include 'partials/modals/_share.jinja' %}
        {% include 'partials/modals/_settings.jinja' %}
        {% include 'partials/modals/_exam_select.jinja' %}
        {% include 'partials/modals/_permissions.jinja' %}

        {# Toast Container for notifications #}
        <div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
    </div>

    <script type="module" src="../scripts/main.js"></script>
</body>

</html>
