receivers:
    otlp:
        protocols:
            grpc:
                endpoint: 0.0.0.0:4317
            http:
                endpoint: 0.0.0.0:4318

processors:
    batch:

exporters:
    logging:
        loglevel: debug
    prometheus:
        endpoint: '0.0.0.0:8889'

service:
    pipelines:
        traces:
            receivers: [otlp]
            processors: [batch]
            exporters: [logging]
        metrics:
            receivers: [otlp]
            processors: [batch]
            exporters: [logging, prometheus]
        logs:
            receivers: [otlp]
            processors: [batch]
            exporters: [logging]
